/* COLOR SCHEME
dp (dark pink) = #9f1d34
salmon = #e7626a
lp (light-ish pink) = #f1988f
peach = #fccca5
lo (light orange) = #fce2b6 */

/* FONTS
Comic Sans = font-family: "Comic Sans MS", cursive, sans-serif; */

/* FULL SITE */
* {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* color items */
.bg-lp {
    background-color:#f1988f;
}

/*   Font Items   */
.text{
    font-family: "Comic Sans MS";
    color: white;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.underline{
    font-style: underline;
}
.right{
    text-align: right;
}
/*  end font items  */


/* NAVBAR */

.nav-logo{
    height:80px;
    padding: 0px;
    margin-left:8px;
}

.btn-nav {
    background-color:#E7626A;
    color:white;
    font-size:130%;
    margin-right:12px;
}

.btn-nav:hover {
    color:#9f1d34;
}

.nav-link {
    color: white;
    font-size:130%;
}

.nav-link:hover {
    font-weight:bold;
    color:white;
}

.nav-item {
    padding-left:25px;
    padding-right:25px;
}